/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroButton {
  background-color: #E0A800 !important;
  border-color: #E0A800 !important;
  color: #000 !important;
}
.heroButton:hover {
  background-color: #c79400 !important;
  border-color: #c79400 !important;
  color: #000 !important;
}
